{% extends 'layout.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Documentation Redirects{% endblock %}
{% block headline %}Documentation Redirects{% endblock %}
{% block body %}

    {% frame %}
        <div class="card">
            <div class="card-header">
                <div class="card-header-bar">
                    <div class="card-header-form">
                        {{ form(filter, {'attr': {'novalidate': 'novalidate'}}) }}
                    </div>
                    <div class="card-header-actions">
                        {{
                            macros.linkbutton(
                                path('admin_redirect_new'),
                                'Create new',
                                'secondary'
                            )
                        }}
                    </div>
                </div>
            </div>
            <div class="datatable">
                <table class="datatable-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">
                                Source
                                {{ knp_pagination_sortable(pagination, 'Source', 'source') }}
                                Target
                                {{ knp_pagination_sortable(pagination, 'Target', 'target') }}
                            </th>
                            <th scope="col">StatusCode</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for redirect in pagination.getItems() %}
                        <tr data-id="{{ redirect.id }}">
                            <th scope="row">
                                <div class="d-flex align-items-center mb-1">
                                    {{ icon('actions-arrow-left') }}
                                    <div class="ml-1">{{ redirect.source }}</div>
                                </div>
                                <div class="d-flex align-items-center">
                                    {{ icon('actions-arrow-right') }}
                                    <div class="ml-1"><a class="datatable-link-highlight" href="{{ redirect.target|intercept_docs_server_link }}" target="_blank">{{ redirect.target }}</a></div>
                                </div>
                            </th>
                            <th scope="row">
                                {% if redirect.isLegacy %}
                                    <span class="badge badge-warning">Legacy location</span>
                                {% endif %}
                            </th>
                            <td>{{ redirect.statusCode }}</td>
                            <td data-type="actions" data-label="Actions">
                                <a class="datatable-action" href="{{ path('admin_redirect_show', {'id': redirect.id}) }}">
                                    <span class="datatable-action-icon">{{ icon('actions-eye') }}</span>
                                    <span class="datatable-action-label datatable-visually-hidden">Show</span>
                                </a>
                                <a class="datatable-action" href="{{ path('admin_redirect_edit', {'id': redirect.id}) }}">
                                    <span class="datatable-action-icon">{{ icon('actions-open') }}</span>
                                    <span class="datatable-action-label datatable-visually-hidden">Edit</span>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if pagination.getTotalItemCount() > 10 %}
                <div class="card-footer">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
        </div>
    {% endframe %}

    {% if currentConfiguration or staticConfiguration %}
        {% frame %}
            <h2>Current NGINX Configuration</h2>
            <div class="card-grid" data-grid-columns="2">
                {% if currentConfiguration %}
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-bar">
                                <div class="card-header-title">
                                    <h3>Dynamic Configuration</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            This file is dynamically generated from the contents in the table above.
                        </div>
                        <div class="card-footer">
                            <div class="modal fade" id="currentConfiguration" tabindex="-1" role="dialog" aria-labelledby="currentConfigurationLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-title" id="currentConfigurationLabel">nginx_redirects_dynamic.conf</span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <pre><code class="language-nginx">{% for redirect in currentConfiguration %}{{ redirect }}&#10;{% endfor %}</code></pre>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#currentConfiguration">
                                <span class="btn-text">Show Configuration</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                {% if staticConfiguration %}
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-bar">
                                <div class="card-header-title">
                                    <h3>Static Configuration</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            The static configuration file is always loaded <strong>before</strong> the dynamic configuration file.
                            To change, create pull requests in <a href="https://bitbucket.typo3.com/projects/INT/repos/intercept/browse/config/nginx/redirects.conf">intecept</a>.
                        </div>
                        <div class="card-footer">
                            <div class="modal fade" id="staticConfiguration" tabindex="-1" role="dialog" aria-labelledby="staticConfigurationLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-title" id="staticConfigurationLabel">{{ staticConfiguration.fileName }}</span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <pre><code class="language-nginx">{{ staticConfiguration.contents }}</code></pre>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticConfiguration">
                                <span class="btn-text">Show Configuration</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endframe %}
    {% endif %}

    {% if logMessages %}
        {% frame %}
            <h2>Recent actions</h2>
            <div class="card">
                <div class="message-list">
                    {% for log in logMessages %}
                        <div class="message message-info">
                            <div class="message-badge">
                                {% if log.triggeredBy == 'api' %}
                                    <span class="badge badge-secondary">API</span>
                                {% elseif log.triggeredBy == 'interface' %}
                                    <span class="badge badge-secondary">WEB</span>
                                {% endif %}
                            </div>
                            <div class="message-body">
                                <div class="message-meta">
                                    <span class="message-date">
                                        {{ localtime(log.time) }}
                                    </span>
                                    {% if log.userDisplayName %}
                                        <span class="message-user">- by {{ log.userDisplayName }}</span>
                                    {% endif %}
                                </div>
                                <div class="message-text">
                                    <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">Triggered bamboo Documentation Redirects</a>
                                </div>
                                <div class="message-detail">
                                    {% if log.bambooKey %}
                                        <div class="message-detail-item">
                                            <span class="message-detail-key">Bamboo key</span>
                                            <span class="message-detail-value">{{ log.bambooKey }}</span>
                                        </div>
                                    {% endif %}
                                    {% if log.subType %}
                                        <div class="message-detail-item">
                                            <span class="message-detail-key">Action</span>
                                            <span class="message-detail-value">{{ log.subType }}</span>
                                        </div>
                                    {% endif %}
                                    {% if log.redirect %}
                                        {% if log.redirect.id %}
                                            <div class="message-detail-item">
                                                <span class="message-detail-key">ID</span>
                                                <span class="message-detail-value">{{ log.redirect.id }}</span>
                                            </div>
                                        {% endif %}
                                        {% if log.redirect.source %}
                                            <div class="message-detail-item">
                                                <span class="message-detail-key">Source</span>
                                                <span class="message-detail-value">{{ log.redirect.source }}</span>
                                            </div>
                                        {% endif %}
                                        {% if log.redirect.target %}
                                            <div class="message-detail-item">
                                                <span class="message-detail-key">Target</span>
                                                <span class="message-detail-value">{{ log.redirect.target }}</span>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endframe %}
    {% endif %}

{% endblock %}
