{% extends 'layout.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Documentation Redirect{% endblock %}
{% block headline %}Documentation Redirect{% endblock %}
{% block body %}

    {% frame %}
        <div class="datatable">
            <table class="datatable-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ redirect.id }}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{ redirect.createdAt ? localdatetime(redirect.createdAt) : '' }}</td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{ redirect.updatedAt ? localdatetime(redirect.updatedAt) : '' }}</td>
                    </tr>
                    <tr>
                        <th>Source</th>
                        <td>{{ redirect.source }}</td>
                    </tr>
                    <tr>
                        <th>Target</th>
                        <td>{{ redirect.target }}</td>
                    </tr>
                    <tr>
                        <th>StatusCode</th>
                        <td>{{ redirect.statusCode }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-4 justify-content-between">
            <div class="col-auto">
                {{
                    macros.linkbutton(
                        path('admin_redirect_index'),
                        'back to list',
                        'outline-secondary',
                        'actions-arrow-left'
                    )
                }}
                {{
                    macros.linkbutton(
                        path('admin_redirect_edit', {'id': redirect.id}),
                        'edit',
                        'primary',
                        'actions-open'
                    )
                }}
            </div>
            <div class="col-auto">
                {{ include('docs_redirect/_delete_form.html.twig') }}
            </div>
        </div>
    {% endframe %}

{% endblock %}
