{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        {% if (showPrev) %}
        <button class="btn btn-outline-secondary" type="button" onclick="history.back();">
            <span class="btn-icon"><i class="fa fa-arrow-left"></i></span>
            <span class="btn-text">{{ button_label|default('Previous') }}</span>
        </button>
        {% endif %}
        <button class="btn btn-primary pull-right">
            <span class="btn-icon"><i class="fa fa-arrow-right"></i></span>
            <span class="btn-text">{{ button_label|default('Next') }}</span>
        </button>
    </div>
{{ form_end(form) }}
