{% extends 'base.html.twig' %}

{% set active = 'bambooCore' %}

{% block title %}Bamboo Core{% endblock %}

{% block headline %}
    <h1>Trigger bamboo builds</h1>
{% endblock %}

{# flash messages on this page are NOT escaped !#}
{% block flashMessages %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message | raw}}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}
    <h2>
        Bamboo core tests with specific patch
    </h2>
    <p>
        Interface to trigger bamboo pre-merge and nightly builds with specific change and patch sets. Finished
        pre-merge builds will vote on gerrit. These patches will be cherry picked on top of the current clean
        branch. Do not abuse this interface - triggering many builds can <strong>easily</strong> occupy bamboo
        for hours.
    </p>

    <h2>
        Trigger by change id and patch set
    </h2>
    <p>
        {{ form_start(patchForm) }}
            {{ form_errors(patchForm) }}
            <div class="form-group row">
                <div class="col-2">
                    {{ form_label(patchForm.change) }}
                    {{ form_errors(patchForm.change) }}
                    {{ form_widget(patchForm.change) }}
                    {{ form_help(patchForm.change) }}
                </div>
                <div class="col-2">
                    {{ form_label(patchForm.set) }}
                    {{ form_errors(patchForm.set) }}
                    {{ form_widget(patchForm.set) }}
                    {{ form_help(patchForm.set) }}
                </div>
            </div>
            {{ form_widget(patchForm.master) }}
            {{ form_widget(patchForm.branch9_5) }}
            {{ form_widget(patchForm.branch8_7) }}
            {{ form_widget(patchForm.nightlyMaster) }}
            {{ form_widget(patchForm.nightly9_5) }}
            {{ form_widget(patchForm.nightly8_7) }}
        {{ form_end(patchForm, {'render_rest': false}) }}
    </p>

    <h2>
        Trigger pre merge testing by url
    </h2>
    <p>
        Insert a casual review.typo3.org url. If a specific patch set is given, it will be used. If not, the
        latest patch set of the change will be determined. The patch will be automatically rebased on top of
        current head of the target branch which may fail if it has merge conflicts.
    </p>
    <p>
        {{ form_start(urlForm) }}
            {{ form_errors(urlForm) }}
            <div class="form-group row">
                <div class="col-4">
                    {{ form_errors(urlForm.url) }}
                    {{ form_widget(urlForm.url) }}
                    {{ form_help(urlForm.url) }}
                </div>
                <div class="col-1">
                    {{ form_widget(urlForm.trigger) }}
                </div>
            </div>
        {{ form_end(urlForm, {'render_rest': false}) }}
    </p>

    <h2>
        Recent actions
    </h2>
    {% for log in logMessages %}
        <div
            class="
                alert graylog-log
                {% if log.vote == '-1' or log.type == 'rebuildNightly'%}
                    alert-warning
                {% elseif log.vote == '+1' %}
                    alert-success
                {% elseif log.type == 'reportBrokenNightly' %}
                    alert-danger
                {% else %}
                    alert-info
                {% endif %}
            "
        >
            <span>{{ log.time|date("d.m.Y H:i:s") }} UTC - </span>
            {% if log.type == 'voteGerrit' %}
                <span>
                    <a href="https://review.typo3.org/#/c/{{ log.change }}/{{ log.patch }}">Vote on gerrit</a>
                    by
                    <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">bamboo result</a>
                </span>
            {% elseif log.type == 'triggerBamboo' and log.bambooKey != '' %}
                <span>
                    <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">Triggered bamboo</a>
                    for
                    <a href="https://review.typo3.org/#/c/{{ log.change }}/{{ log.patch }}">gerrit patch</a>
                </span>
            {% elseif log.type == 'rebuildNightly' and log.bambooKey != '' %}
                <span>
                    <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">Re-triggered failed bamboo nightly</a>
                </span>
            {% elseif log.type == 'reportBrokenNightly' and log.bambooKey != '' %}
                <span>
                    Reported <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">broken nightly</a> to slack
                </span>
            {% endif %}

            {% if log.vote %}
                | <span>Vote: {{ log.vote }}</span>
            {% endif %}
            {% if log.branch %}
                | <span>Branch: {{ log.branch }}</span>
            {% endif %}
            {% if log.change %}
                | <span>Change: {{ log.change }}</span>
            {% endif %}
            {% if log.patch %}
                | <span>Patch: {{ log.patch }}</span>
            {% endif %}
            {% if log.bambooKey %}
                | <span>Bamboo key: {{ log.bambooKey }}</span>
            {% endif %}
            {% if log.triggeredBy == 'api' %}
                | <span>Trigger: API</span>
            {% elseif log.triggeredBy == 'interface' %}
                | <span>Trigger: Web</span>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
