{% extends 'base.html.twig' %}

{% set active = 'bamboo' %}

{% block title %}Bamboo{% endblock %}

{% block headline %}
    <h1>Trigger bamboo builds</h1>
{% endblock %}

{% block content %}
    <h2>
        Bamboo core tests with specific patch
    </h2>
    <p>
        Interface to trigger bamboo pre-merge and nightly builds with specific change and patch sets. Finished
        pre-merge builds will vote on gerrit. These patches will be cherry picked on top of the current clean
        branch. Do not abuse this interface - triggering many builds can <strong>easily</strong> occupy bamboo
        for hours.
    </p>
    {{ form_start(bambooForm) }}
        {{ form_errors(bambooForm) }}
        <div class="form-group row">
            <div class="col-2">
                {{ form_label(bambooForm.change) }}
                {{ form_errors(bambooForm.change) }}
                {{ form_widget(bambooForm.change) }}
                {{ form_help(bambooForm.change) }}
            </div>
            <div class="col-2">
                {{ form_label(bambooForm.set) }}
                {{ form_errors(bambooForm.set) }}
                {{ form_widget(bambooForm.set) }}
                {{ form_help(bambooForm.set) }}
            </div>
        </div>
        {{ form_widget(bambooForm.master) }}
        {{ form_widget(bambooForm.TYPO3_8_7) }}
        {{ form_widget(bambooForm.TYPO3_7_6) }}
        {{ form_widget(bambooForm.nightlyMaster) }}
        {{ form_widget(bambooForm.nightly8_7) }}
    {{ form_end(bambooForm, {'render_rest': false}) }}
{% endblock %}
