<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>

        <div id="top-wrapper">
            <nav class="navbar navbar-expand navbar-dark">
                <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
                    <span class="navbar-toggler-icon"></span>
                </a>
            </nav>
        </div>

        <div id="main-wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul id="sidebar-nav">
                    <li>
                        <a href="{{ path('admin_index') }}" {% if active == 'home' %}class="active"{% endif %}>Home</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_login') }}" {% if active == 'login' %}class="active"{% endif %}>Login</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_bamboo_core') }}" {% if active == 'bambooCore' %}class="active"{% endif %}>Bamboo Core</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_split_core') }}" {% if active == 'splitCore' %}class="active"{% endif %}>Split Core</a>
                    </li>
                    <li>
                        <a href="{{ path('redirect_index') }}" {% if active == 'redirects' %}class="active"{% endif %}>Redirects</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_docs') }}" {% if active == 'docs' %}class="active"{% endif %}>Documentation</a>
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    {% block headline %}
                        Default headline
                    {% endblock %}

                    {% block flashMessages %}
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}

                    {% block content %}
                        Default content
                    {% endblock %}
                </div>
            </div>
        </div>

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
