{% extends 'layout.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Discord Scheduled Messages{% endblock %}
{% block headline %}Discord Scheduled Messages{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">

            <div class="card">

                <div class="card-header">
                    <div class="card-header-bar">
                        <div class="card-header-actions">
                            {{
                            macros.linkbutton(
                                path('admin_discord_scheduled_messages_add_action'),
                                'Add message',
                                'secondary'
                            )
                            }}
                        </div>
                    </div>
                </div>

                <div class="datatable">
                    <table class="datatable-table">
                        <thead>
                        <tr>
                            <th scope="col" colspan="2">Name</th>
                            <th scope="col">Discord Channel</th>
                            <th scope="col">Interval</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in pagination %}
                            <tr data-id="{{ message.id }}">
                                <th data-type="icon">
                                    <i class="fab fa-fw fa-discord fa-style-discord"></i>
                                </th>
                                <th data-type="title">
                                    <strong>{{ message.name }}</strong><br>
                                </th>
                                {% if message.channel is empty %}
                                    <td><span class="badge badge-danger">Message has no channel</span></td>
                                {% elseif message.channel.getParent() %}
                                    <td>{{ message.channel.getParent().channelName }} > #{{ message.channel.channelName }}</td>
                                {% else %}
                                    <td>#{{ message.channel.channelName }}</td>
                                {% endif %}
                                <td>{{ message.schedule }}<br><small>{{ message.timezone }}</small></td>
                                <td data-type="actions" data-label="Actions">
                                    <a class="datatable-action" title="Edit" href="{{ path('admin_discord_scheduled_messages_edit_action', {messageId: message.id}) }}">
                                        <span class="datatable-action-icon"><i class="fas fa-edit"></i></span>
                                        <span class="datatable-action-label datatable-visually-hidden">Edit</span>
                                    </a>

                                    <a class="datatable-action" title="Delete" href="{{ path('admin_discord_scheduled_messages_delete_action', {'messageId': message.getId()}) }}">
                                        <span class="datatable-action-icon"><i class="fa fa-trash"></i></span>
                                        <span class="datatable-action-label datatable-visually-hidden">Delete</span>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if pagination.getTotalItemCount > 10 %}
                    <div class="card-footer">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
