{% extends 'base.html.twig' %}
{% block title %}Documentation{% endblock %}
{% block headline %}Trigger documentation rendering{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">

            <h2>
                {{ include('partials/bambooStatus.html.twig') }}
            </h2>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h2>
                    Trigger Fluid View Helper Reference rendering and deployment
                </h2>
                <p>
                    Interface to render the Fluid View Helper Reference and deploy it to the
                    <a target="_blank" href="https://docs.typo3.org/typo3cms/ViewHelperReference/Index.html">OLD docs server</a>.
                    This build and deployment is scheduled on  a daily basis, but can be triggered here manually
                    if an urgent update is wanted.
                </p>
                {{ form_start(fluidVhForm) }}
                    {{ form_errors(fluidVhForm) }}
                    <div class="form-group row">
                        <div class="col-1">
                            {{ form_widget(fluidVhForm.trigger) }}
                        </div>
                    </div>
                    {{ form_widget(fluidVhForm._token) }}
                {{ form_end(fluidVhForm, {'render_rest': false}) }}
            {% endif %}

            <h2>
                Recent actions
            </h2>
            {% for log in logMessages %}
                <div class="alert graylog-log alert-success">
                    <span>{{ log.time|date("d.m.Y H:i:s") }} UTC - </span>
                    <span>
                        <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">Triggered bamboo Fluid View Helper rendering</a>
                    </span>

                    {% if log.bambooKey %}
                        | <span>Bamboo key: {{ log.bambooKey }}</span>
                    {% endif %}
                    {% if log.triggeredBy == 'api' %}
                        | <span>Trigger: API</span>
                    {% elseif log.triggeredBy == 'interface' %}
                        | <span>Trigger: Web</span>
                    {% endif %}
                    {% if log.userDisplayName %}
                        | <span>User: {{ log.userDisplayName }}</span>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
