{% extends 'base.html.twig' %}
{% block title %}Documentation deployments{% endblock %}
{% block headline %}Deployed documentation{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">

            <h2>
                {{ include('partials/bambooStatus.html.twig') }}
            </h2>

            <h2>
                Deployed documentation projects
            </h2>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Repository URL</th>
                    <th>Package Name</th>
                    <th>Type</th>
                    <th>Branch</th>
                    <th>Target Directory</th>
                    <th>Created at</th>
                    <th>Last rendered at</th>
                </tr>
                </thead>
                <tbody>
                {% for deployment in deployments %}
                    <tr>
                        <td>{{ deployment.id }}</td>
                        <td><a href="{{ deployment.repositoryUrl }}">{{ deployment.repositoryUrl }}</a></td>
                        <td>{{ deployment.packageName }}</td>
                        <td>{{ deployment.typeLong }}</td>
                        <td>{{ deployment.branch }}</td>
                        <td>
                            <a href="{{ docsLiveServer }}/{{ deployment.typeShort }}/{{ deployment.packageName }}/{{ deployment.targetBranchDirectory }}">
                                {{ deployment.targetBranchDirectory }}
                            </a>
                        </td>
                        <td>
                            <span data-processor="localdate" data-value="{{ deployment.createdAt|date('Y-m-d\\TH:i:sP', "UTC") }}">
                                {{ deployment.createdAt|date('Y-m-d\\TH:i:sP', "UTC") }}
                            </span>
                        </td>
                        <td>
                            <span data-processor="localdate" data-value="{{ deployment.lastRenderedAt|date('Y-m-d\\TH:i:sP', "UTC") }}">
                                {{ deployment.lastRenderedAt|date('Y-m-d\\TH:i:sP', "UTC") }}
                            </span>
                        </td>
                        <td>
                            <a href="{{ path('admin_docs_deployments_delete_view', {'documentationJarId': deployment.getId()}) }}">
                                <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2>
                Recent actions
            </h2>
            {% for log in logMessages %}
                <div class="alert graylog-log
                        alert-success
                        {% if log.level == '6' %}
                            alert-success
                        {% else %}
                            alert-warning
                        {% endif %}
                    "
                >
                    <span>{{ log.time|date("d.m.Y H:i:s") }} UTC - </span>
                    <span>
                        {% if log.status == 'triggered' %}
                            <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">{{ log.message }}</a>
                        {% else %}
                            {{ log.message }}
                        {% endif %}
                    </span>

                    {% if log.bambooKey %}
                        | <span>Bamboo key: {{ log.bambooKey }}</span>
                    {% endif %}
                    {% if log.package %}
                        | <span>Package: {{ log.package }}</span>
                    {% endif %}
                    {% if log.sourceBranch %}
                        | <span>Branch: {{ log.sourceBranch }}</span>
                    {% endif %}
                    {% if log.targetBranch %}
                        | <span>Target directory: {{ log.targetBranch }}</span>
                    {% endif %}
                    {% if log.repository %}
                        | <span>Repository: {{ log.repository }}</span>
                    {% endif %}
                    {% if log.composerFile %}
                        | <span>Composer file: {{ log.composerFile }}</span>
                    {% endif %}
                    {% if log.exceptionCode %}
                        | <span>Exception Code: {{ log.exceptionCode }}</span>
                    {% endif %}
                    {% if log.triggeredBy == 'api' %}
                        | <span>Trigger: API</span>
                    {% elseif log.triggeredBy == 'interface' %}
                        | <span>Trigger: Web</span>
                    {% endif %}
                    {% if log.userDisplayName %}
                        | <span>User: {{ log.userDisplayName }}</span>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
