{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Documentation deployments{% endblock %}
{% block headline %}Documentation deployments{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">

            <h2>
                {{ include('partials/bambooStatus.html.twig') }}
            </h2>

            <div class="card">

                <div class="card-header">
                    <div class="card-header-bar">
                        <div class="card-header-form">
                            {{ form(filter, {'attr': {'novalidate': 'novalidate'}}) }}
                        </div>
                        {% if is_granted('ROLE_DOCUMENTATION_MAINTAINER') %}
                            <div class="card-header-actions">
                                {{
                                    macros.linkbutton(
                                        path('admin_docs_deployments_add'),
                                        'Add configuration',
                                        'secondary'
                                    )
                                }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="datatable">
                    <table class="datatable-table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="3">
                                    Package
                                    {{ knp_pagination_sortable(pagination, 'Package', 'packageName') }}
                                </th>
                                <th scope="col">
                                    Type
                                    {{ knp_pagination_sortable(pagination, 'Type', 'typeLong') }}
                                </th>
                                <th scope="col">Branch</th>
                                <th scope="col" data-type="localdate">
                                    Last rendered
                                    {{ knp_pagination_sortable(pagination, 'Last rendered', 'lastRenderedAt') }}
                                </th>
                                {% if is_granted('ROLE_DOCUMENTATION_MAINTAINER') %}
                                    <th scope="col">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for deployment in pagination %}
                            <tr data-id="{{ deployment.id }}" data-created="{{ deployment.createdAt|date('n/d/Y, g:i A', "UTC") }}">
                                <th data-type="icon">
                                    <a href="{{ deployment.repositoryUrl }}" title="{{ deployment.repositoryUrl }}" class="datatable-link-highlight" rel="noopener" target="_blank">
                                        <i class="fab fa-fw fa-git-alt"></i>
                                    </a>
                                </th>
                                <th data-type="title">
                                    <strong>{{ deployment.packageName }}</strong><br>
                                    <small>{{ deployment.packageType }}</small>
                                </th>
                                <th data-type="badge">
                                    {% if deployment.status == "0" %}
                                        <span class="badge badge-info">Rendering</span>
                                    {% elseif deployment.status == "1" %}
                                        <span class="badge badge-success">Rendered</span>
                                    {% elseif deployment.status == "2" %}
                                        <span class="badge badge-warning">Deleting</span>
                                    {% elseif deployment.status == "3" %}
                                        <span class="badge badge-danger">Failed</span>
                                    {% else %}
                                        <span class="badge badge-secondary">Unknown</span>
                                    {% endif %}
                                </th>
                                <td>{{ deployment.typeLong }}</td>
                                <td>
                                    {% if deployment.branch != deployment.targetBranchDirectory %}
                                        {{ deployment.branch }} &raquo;
                                    {% endif %}
                                    <a href="{{ docsLiveServer }}/{{ deployment.typeShort }}/{{ deployment.packageName }}/{{ deployment.targetBranchDirectory }}/en-us" rel="noopener" target="_blank">
                                        {{ deployment.targetBranchDirectory }}
                                    </a>
                                </td>
                                <td data-type="localdate">
                                    <span data-processor="localdate" data-value="{{ deployment.lastRenderedAt|date('Y-m-d\\TH:i:sP', "UTC") }}">
                                        {{ deployment.lastRenderedAt|date('n/d/Y, g:i A', "UTC") }}
                                    </span>
                                </td>
                                {% if is_granted('ROLE_DOCUMENTATION_MAINTAINER') %}
                                    <td data-type="actions" data-label="Actions">
                                        {% if deployment.isRenderable() %}
                                            <a class="datatable-action" title="Re-render documentation" href="{{ path('docs_to_bamboo_render', {documentation: deployment.id}) }}">
                                                <span class="datatable-action-icon"><i class="fas fa-sync"></i></span>
                                                <span class="datatable-action-label datatable-visually-hidden">Re-render documentation</span>
                                            </a>
                                        {% endif %}

                                        {% if deployment.isDeletable() %}
                                            <a class="datatable-action" title="Delete" href="{{ path('admin_docs_deployments_delete_view', {'documentationJarId': deployment.getId()}) }}">
                                                <span class="datatable-action-icon"><i class="fa fa-trash"></i></span>
                                                <span class="datatable-action-label datatable-visually-hidden">Delete</span>
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                {% if is_granted('ROLE_DOCUMENTATION_MAINTAINER') %}
                                    <td colspan="9">no records found</td>
                                {% else %}
                                    <td colspan="8">no records found</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if pagination.getTotalItemCount > 10 %}
                    <div class="card-footer">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            </div>

            <div class="content-spacer"></div>
            <h2>
                Recent actions
            </h2>
            {% for log in logMessages %}
                <div class="alert graylog-log
                        alert-success
                        {% if log.level == '6' %}
                            alert-success
                        {% else %}
                            alert-warning
                        {% endif %}
                    "
                >
                    <span>{{ log.time|date("d.m.Y H:i:s") }} UTC - </span>
                    <span>
                        {% if log.status == 'triggered' %}
                            <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">{{ log.message }}</a>
                        {% else %}
                            {{ log.message }}
                        {% endif %}
                    </span>

                    {% if log.bambooKey %}
                        | <span>Bamboo key: {{ log.bambooKey }}</span>
                    {% endif %}
                    {% if log.package %}
                        | <span>Package: {{ log.package }}</span>
                    {% endif %}
                    {% if log.sourceBranch %}
                        | <span>Branch: {{ log.sourceBranch }}</span>
                    {% endif %}
                    {% if log.targetBranch %}
                        | <span>Target directory: {{ log.targetBranch }}</span>
                    {% endif %}
                    {% if log.repository %}
                        | <span>Repository: {{ log.repository }}</span>
                    {% endif %}
                    {% if log.composerFile %}
                        | <span>Composer file: {{ log.composerFile }}</span>
                    {% endif %}
                    {% if log.exceptionCode %}
                        | <span>Exception Code: {{ log.exceptionCode }}</span>
                    {% endif %}
                    {% if log.triggeredBy == 'api' %}
                        | <span>Trigger: API</span>
                    {% elseif log.triggeredBy == 'interface' %}
                        | <span>Trigger: Web</span>
                    {% endif %}
                    {% if log.userDisplayName %}
                        | <span>User: {{ log.userDisplayName }}</span>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
