{% extends 'base.html.twig' %}
{% block title %}Redirects{% endblock %}
{% block headline %}Redirects{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">

            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Source</th>
                        <th>Target</th>
                        <th>StatusCode</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for redirect in redirects %}
                    <tr>
                        <td>{{ redirect.id }}</td>
                        <td>{{ redirect.source }}</td>
                        <td>{{ redirect.target }}</td>
                        <td>{{ redirect.statusCode }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('admin_redirect_show', {'id': redirect.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('admin_redirect_edit', {'id': redirect.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('admin_redirect_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Create new</a>

            {% if currentConfiguration %}
                <h2>Current active configuration</h2>
                <div class="accordion" id="nginxConfigurationFiles">
                    <div class="card">
                        <div class="card-header" id="heading_nginxConfigurationFile_{{ currentConfiguration.ctime }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_nginxConfigurationFile_{{ currentConfiguration.ctime }}" aria-expanded="false" aria-controls="collapse_nginxConfigurationFile_{{ currentConfiguration.ctime }}">
                                    {{ currentConfiguration.fileName }}
                                </button>
                            </h2>
                        </div>
                        <div id="collapse_nginxConfigurationFile_{{ currentConfiguration.ctime }}" class="collapse" aria-labelledby="heading_nginxConfigurationFile_{{ currentConfiguration.ctime }}" data-parent="#nginxConfigurationFiles">
                            <pre class="mb-0"><code class="nginx">{{ currentConfiguration.contents }}</code></pre>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
