{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Redirects{% endblock %}
{% block headline %}Redirects{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <div class="card-header-bar">
                        <div class="card-header-actions">
                            {{ 
                                macros.linkbutton(
                                    path('admin_redirect_new'),
                                    'Create new',
                                    'secondary'
                                )
                            }}
                        </div>
                    </div>
                </div>
                <div class="datatable">
                    <table class="datatable-table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">Source</th>
                                <th scope="col">Target</th>
                                <th scope="col">StatusCode</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for redirect in redirects %}
                            <tr data-id="{{ redirect.id }}">
                                <th scope="row">{{ redirect.source }}</th>
                                <th scope="row">
                                    {% if redirect.isLegacy %}
                                        <span class="badge badge-warning">Legacy location</span>
                                    {% endif %}
                                </th>
                                <td>{{ redirect.target }}</td>
                                <td>{{ redirect.statusCode }}</td>
                                <td data-type="actions" data-label="Actions">
                                    <a class="datatable-action" href="{{ path('admin_redirect_show', {'id': redirect.id}) }}">
                                        <span class="datatable-action-icon"><i class="fa fa-eye"></i></span>
                                        <span class="datatable-action-label datatable-visually-hidden">Show</span>
                                    </a>
                                    <a class="datatable-action" href="{{ path('admin_redirect_edit', {'id': redirect.id}) }}">
                                        <span class="datatable-action-icon"><i class="fa fa-pencil-alt"></i></span>
                                        <span class="datatable-action-label datatable-visually-hidden">Edit</span>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if currentConfiguration %}
                <div class="content-spacer"></div>
                <h2>Current active configuration</h2>
                <div class="accordion" id="nginxConfigurationFiles">
                    <div class="card">
                        <div class="card-header" id="heading_nginxConfigurationFile_{{ currentConfiguration.ctime }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_nginxConfigurationFile_{{ currentConfiguration.ctime }}" aria-expanded="false" aria-controls="collapse_nginxConfigurationFile_{{ currentConfiguration.ctime }}">
                                    {{ currentConfiguration.fileName }}
                                </button>
                            </h2>
                        </div>
                        <div id="collapse_nginxConfigurationFile_{{ currentConfiguration.ctime }}" class="collapse" aria-labelledby="heading_nginxConfigurationFile_{{ currentConfiguration.ctime }}" data-parent="#nginxConfigurationFiles">
                            <pre class="mb-0"><code class="nginx">{{ currentConfiguration.contents }}</code></pre>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if logMessages %}
                <div class="content-spacer"></div>
                <div class="card">
                    <div class="card-header">
                        <h2>
                            Recent actions
                        </h2>
                    </div>
                    <div class="card-body">
                        {% for log in logMessages %}
                            <div class="alert graylog-log alert-info">
                                <span>{{ log.time|date("d.m.Y H:i:s") }} UTC - </span>
                                <span>
                                    <a href="https://bamboo.typo3.com/browse/{{ log.bambooKey }}">Triggered bamboo Documentation Redirects</a>
                                </span>
                                {% if log.bambooKey %}
                                    | <span>Bamboo key: {{ log.bambooKey }}</span>
                                {% endif %}
                                {% if log.triggeredBy == 'api' %}
                                    | <span>Trigger: API</span>
                                {% elseif log.triggeredBy == 'interface' %}
                                    | <span>Trigger: Web</span>
                                {% endif %}
                                {% if log.subType %}
                                    | <span>Action: {{ log.subType }}</span>
                                {% endif %}
                                {% if log.userDisplayName %}
                                    | <span>User: {{ log.userDisplayName }}</span>
                                {% endif %}
                                {% if log.redirect %}
                                    {% if log.redirect.id %}
                                        | <span>ID: {{ log.redirect.id }}</span>
                                    {% endif %}
                                    {% if log.redirect.source %}
                                        | <span>Source: {{ log.redirect.source }}</span>
                                    {% endif %}
                                    {% if log.redirect.target %}
                                        | <span>Target: {{ log.redirect.target }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
