{% extends 'base.html.twig' %}

{% set active = 'redirects' %}

{% block title %}Redirect{% endblock %}

{% block headline %}
    <h1>Redirect</h1>
{% endblock %}

{% block content %}
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ redirect.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ redirect.createdAt ? redirect.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ redirect.updatedAt ? redirect.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ redirect.source }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ redirect.target }}</td>
            </tr>
            <tr>
                <th>StatusCode</th>
                <td>{{ redirect.statusCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_redirect_index') }}" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> back to list</a>

    <a href="{{ path('admin_redirect_edit', {'id': redirect.id}) }}" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> edit</a>

    {{ include('redirect/_delete_form.html.twig') }}
{% endblock %}
